<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 nav">
        <div class="container-fluid">
            <a class="nav-link btn-lg" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-github"></i>JexcMobileStore</a>
            <nav class="nav justify-content-center">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-display"></i>Главная</a>
                <a class="nav-link" asp-area="" asp-controller="Compare" asp-action="Index"> <i class="bi bi-clipboard2-plus"></i> Список сравнения</a>
                <a class="nav-link" asp-area="" asp-controller="Favorite" asp-action="Index"> <i class="bi bi-heart"></i> Избранное @await Component.InvokeAsync("Favorite")</a>
                <a class="nav-link" asp-area="" asp-controller="Cart" asp-action="Index"><i class="bi bi-cart4"></i> Корзина @await Component.InvokeAsync("Cart")</a>
            </nav>
        </div>
    </nav>
</header>
